/* file Home page css */
* {
    background-color: #0A192F;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
.home_page {
    background-color: #0A192F;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns:  89% 8% 8%;
}
.social-section {
    position: fixed; 
    left: 50px; 
    bottom: 2px;
}
.social-section .list {
    display: flex;
    flex-direction: column;
}
.social-section .list a {
    color: white;
    font-size: 24px;
    margin-top: 17px;
    transition: 0.5s ease;
}
.social-section .list::after {
    content: "";
    display: block;
    width: 1px;
    height: 130px;
    margin: 0px auto;
    background-color: white; 
    margin-top: 30px;
}
.social-section .list a:hover {
   color: #64FFDA;
   transform: scaleY(1.1);
}
.main-section {
    color: white; 
    margin-left: 10rem;
    padding: 40px;
}
 .main-section h4 {
    color: #64FFDA;
    font-family:'Iceland', cursive;
    font-size: 22px;
    font-weight: 100;
    margin-top: 40px;
    margin-bottom: 20px;
}
.main-section h1 {
    color: #ccd6f6;
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    font-size: 55px;
    margin-bottom: 20px;
}
.main-section h2 {
    color: #ccd6f6;
    font-size: 40px;
    margin-bottom: 35px;
    opacity: 90%;
}
.main-section p {
    color: #ccd6f6;
    font-size: 15px;
    font-weight: 400;
    opacity: 80%;
    margin-bottom: 8%;
}
#view {
    border-radius: 10px;
    color: #64FFDA;
    border: #64FFDA 1px solid;
    border-color:#64FFDA;
    background-color: transparent;
    font-family: 'Comfortaa', cursive;
    padding: 1rem 3.25rem;
    transition: 2s ease;
    text-decoration: none;
    line-height: 1;
    cursor: pointer;
}
#view:hover {
    box-shadow: inset 500px 0 0 0 #64FFDA;
    color: white;
    font-weight: bold;
    transform: scale(1.1);
} 
.email-section{
    display: flex;
    justify-content: center;
}
.email-section .contentA {
    position: fixed;
    right: auto;
    bottom: 1px;
}
.email-section a {
    color: white;
    font-size: 18px;
    text-decoration: none;
    writing-mode: vertical-rl;
    font-family:'Iceland', cursive;
    transition: 0.5s ease;
}
.email-section a:hover {
    color: #64FFDA;
    transform: scaleY(1.1);
}
.email-section .contentA::after {
    content: "";
    display: block;
    width: 1px;
    height: 130px;
    margin: 0px auto;
    background-color: white; 
    margin-top: 30px;
}
/* mobile screen */
@media screen and (max-width:415px) {
    .home_page {
        width: 100%;
    }
    .main-section {
        padding: 20px;
        margin-left: 10px;
    }
    .main-section h1 {
        font-size:29px;
    }
    .main-section h2 {
        font-size:25px;
    }
    .titles {
       max-width: 350px;
    }
    .titles p {
        font-size: 18px;
        margin-bottom: 20%;
        line-height: 25px;
    }
}
/* tablet screen */
@media screen and (min-width :415px) and (max-width :767px){
	 .social-section {
        visibility: hidden;
     }
     .email-section {
        visibility: hidden;
     }
     .main-section {
        margin-left: 50px;
        padding: 40px;
     }
     .main-section h1 {
        font-size: 45px;
     }
     .main-section h2 {
        font-size: 35px;
     }
     .main-section p {
        margin-bottom: 15%;
     }
}

 




